* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono',
        monospace;
}

body {
    font-family: 'Space Mono',
        monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    position: absolute;
    top: -30;
    left: -30;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(50px);

}

.loading-text {
    font-size: 50px;
    color: white;

}

.back {
    background-image: url(assets/background.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.land {
    background-image: url(assets/dirt.png);
    height: 220px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.road {
    background-image: url(assets/road.png);
    height: 270px;
    width: 500%;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-repeat: repeat-x;
    animation: road 25s linear infinite;
}

@keyframes road {
    100% {
        transform: translateX(-3400px);
    }
}

.trees {
    background-image: url(assets/tree.png);
    height: 500px;
    width: 400%;
    display: block;
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    background-repeat: repeat-x;
    animation: trees 20s linear infinite;
}

@keyframes trees {
    100% {
        transform: translateX(-1000px);
    }
}

.knights {
    width: 200px;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    position: absolute;
    background-position: center;
    z-index: 2;
}

.knights img {
    width: 100%;
}

video {
    display: block;
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.camView {
    position: relative;
    float: left;
    width: calc(90% - 20px);
    margin: 10px;
    cursor: pointer;
}

.camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
}

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}

.btn {
    background-color: grey;
    color: yellow;
    border-radius: 8px;
    font-size: 12pt;
    padding: 15px 30px;
    bottom: 132px;
}